body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #f3ecda;
}

h1, h2 {
    color: #3e503c;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #7f886c;
    padding-bottom: 10px;
}

h2 {
    border-bottom: 1px solid #7f886c;
    padding-bottom: 5px;
}

p {
    margin: 10px 0;
}

ul.Snoska {
    margin: 15px 0;
    padding-left: 20px;
}

ul li.Snoska{
    margin-bottom: 5px;
}


a:hover {
    color: #7f886c;
}

header {
    background: linear-gradient(#3e503c,#7f886c );
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.Head{ 
    list-style: none;
    padding: 20px;
}

li.Head {
    display: inline;
}

a {
    font-size: 40px ;
    padding: 20px;
    color:#333 ;
    text-decoration: none;
}

a:hover{
    color: chartreuse;
    text-decoration: none;
}

.image-container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: right; 
    margin-bottom: 20px; 
}


body.General {
   

    background-image: url("images/1736345799_new_9d031730.gif");
    
    background-size: cover;


}



.news-container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #2c3e50;
            text-align: center;
        }
        .news-image {
            width: 100%;
            height: auto;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        .news-content {
            padding: 10px;
        }




